{{define "main"}}
<form action="/user/create" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div>
        <label> Title: </label>
        {{with .Form.FieldErrors.Title}}
           <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value="{{.Form.Title}}">
    </div>
    <div>
        <label> Content: </label>
        {{with .Form.FieldErrors.Content}}
           <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Form.Content}}</textarea>
    </div>
    <div>
        <label>Delete In: </label>
        <input type="radio" name="expires" value="365" {{if eq .Form.Expires "365"}}checked{{end}}> 1 Year
        <input type="radio" name="expires" value="7" {{if eq .Form.Expires "7"}}checked{{end}}> 1 Week
        <input type="radio" name="expires" value="1" {{if eq .Form.Expires "1"}}checked{{end}}> 1 Day
    </div>
    <div>
        <input type="submit" value="Publish snippet">
    </div>
</form>
{{end}}

<!-- Este exemplo é apenas uma demonstração de como incluir um token CSRF em um formulário HTML. Em um ambiente de produção, você deve garantir que o token seja gerado e incluído corretamente no formulário para proteger contra ataques CSRF.  Ele não está sendo usado nesse exemplo, está aqui apenas para fins de demonstração. -->
